.list {
    padding: 20px;
}

.paper {
    border-radius: 2%;
    border: 1px solid #fff;
    background-color: #fff;
    /* box-shadow: 1px 1px 3px #aaaaaa; */
}

.head {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.span1 {
    font-size: 12px; 
    position: absolute;
}

.main {
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}

.line {
    height: 0; 
    width: 50%; 
    border-bottom: 1px solid #eee;
}